body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: gray;
}

ul {
    list-style: none;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]+span {
    cursor: pointer;
}

input[type=radio][name=pic1]:checked+img {
    border: 2px solid gray;
}

.dropdown-item-dark {
    color: #fff;
}

.dropdown-item-dark:hover {
    background-color: gray !important;
}

.wrapper {
    min-height: 100vh;
    padding-left: 10px;
}

.play-list {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.profile-picture {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

.profile-picture .image {
    width: 2rem !important;
    height: 2rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.time-in-row {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.dark {
    background-color: #0f172a;
    color: #fff;
}

.dark-input {
    background-color: #1e293b;
    border: 1px solid #fff;
    color: #fff;
}

.dark-border {
    border-color: #fff;
}

.discord-icon {
    color: #7289DA;
}

.discord-icon:hover {
    color: rgba(114, 137, 218, .8);
}

.twitter-icon {
    color: rgba(29, 161, 242, 1);
}

.twitter-icon:hover {
    color: rgba(29, 161, 242, 0.8);
}

.dark-list-item {
    background-color: rgb(30, 41, 59);
    color: #fff;
}

.dark-list-item:hover {
    background-color: rgba(30, 41, 59, 0.8);
    color: #fff;
}

.btn-hover {
    width: 180px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    /* padding-top: 35px; */
    height: 80px;
    text-align: center;
    border: none;
    text-decoration: none;
    background-size: 300% 100%;
    border-radius: 20px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.btn-start {
    background-image: linear-gradient( to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.btn-wallet {
    background-image: linear-gradient( to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.btn-hover.btn-green {
    background-image: linear-gradient( to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.social-icons {
    position: fixed;
    bottom: 25px;
    right: 20px;
}


/* Game styles */

.game-container {
    // max-width: 60%;
    max-height: 745px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: #292b2c;
    // background-color: #ffb74d;
    //border: 2px solid white;
    //border-radius: 25px;
    //box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.568);
    h1 {
        font-size: 35px;
        text-align: center;
        padding: 20px;
    }
    .rps-img {
        width: 90px;
        height: 90px;
        margin: 5px;
        cursor: pointer;
    }
    .rock-img {
        background-image: url('./assets/imgs/rock.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: url('./assets/imgs/rock.gif');
        }
    }
    .paper-img {
        background-image: url('./assets/imgs/paper.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: url('./assets/imgs/paper.gif');
        }
    }
    .scissors-img {
        background-image: url('./assets/imgs/scissors.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: url('./assets/imgs/scissors.gif');
        }
    }
    // label.hand {
    //     background-color: #cecece;
    //     border: 4px solid black;
    //     margin: 5px;
    //     cursor: pointer;
    //     &:hover {
    //         background-color: #f8f9fa;
    //     }
    // }
    label.amount {
        margin: 7px;
    }
    label.amount span {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        padding: 9px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        background-image: linear-gradient( to right, #f5ce62, #e43603, #fa7199, #e85a19);
        box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
        &:hover {
            background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    }
    // input[type=radio][name=hand]:checked+img {
    //     background-color: #f8f9fa;
    // }
    input[type=radio][name=hand]:checked+.rock-img {
        background-image: url('./assets/imgs/rock.gif');
    }
    input[type=radio][name=hand]:checked+.paper-img {
        background-image: url('./assets/imgs/paper.gif');
    }
    input[type=radio][name=hand]:checked+.scissors-img {
        background-image: url('./assets/imgs/scissors.gif');
    }
    input[type=radio][name=amount]:checked+span {
        border: 3px solid white;
    }
    @media (min-width: 992px) {
        max-width: 60%;
        // label.amount {
        //     margin: 12px;
        // }
        // label.amount span {
        //     font-size: 16px;
        //     padding: 11px;
        // }
    }
    @media (min-width: 768px) {
        .rps-img {
            width: 240px;
            height: 240px;
            margin: 5px;
            cursor: pointer;
        }
        label.amount {
            margin: 10px;
        }
        label.amount span {
            font-size: 18px;
            padding: 20px;
        }
    }
}

table {
    border: 2px solid #ff0000;
    width: 400px;
    height: 600px;
}


/* End Game styles */

@media (min-width: 992px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}