/* Generic CSS */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,900");
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]+span {
    cursor: pointer;
}

.wrapper {
    min-height: 100vh;
    padding-left: 10px;
}


/* NavBar Offcanvas */

.btn-auth-group {
    border-radius: 5px;
    padding: 5px;
}

.btn-auth {
    display: inline-block;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.275rem 0.65rem;
}

.play-list {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}

.profile-picture {
    font-size: 1.125rem;
    text-anchor: middle;
    user-select: none;
}

.profile-picture .image {
    width: 2rem !important;
    height: 2rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.time-in-row {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.menu {
    position: fixed;
    bottom: 25px;
    left: calc(50vw - 250px);
}

.discord-icon {
    color: #7289DA;
}

.discord-icon:hover {
    color: rgba(114, 137, 218, .8);
}

.twitter-icon {
    color: rgba(29, 161, 242, 1);
}

.twitter-icon:hover {
    color: rgba(29, 161, 242, 0.8);
}

.btn-hover {
    width: 180px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 80px;
    text-align: center;
    border: none;
    text-decoration: none;
    background-size: 300% 100%;
    border-radius: 20px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.btn-start {
    background-image: linear-gradient( to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.btn-wallet {
    background-image: linear-gradient( to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.btn-hover.btn-green {
    background-image: linear-gradient( to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.social-icons {
    position: fixed;
    bottom: 25px;
    right: 20px;
}


/* Game styles */

.game-container {
    max-height: 745px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-size: 35px;
        text-align: center;
        padding: 20px;
    }
    .rps-img {
        width: 90px;
        height: 90px;
        margin: 5px;
        cursor: pointer;
    }
    .rock-img {
        background-image: url('./assets/imgs/rock.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: url('./assets/imgs/rock.gif');
        }
    }
    .paper-img {
        background-image: url('./assets/imgs/paper.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: url('./assets/imgs/paper.gif');
        }
    }
    .scissors-img {
        background-image: url('./assets/imgs/scissors.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: url('./assets/imgs/scissors.gif');
        }
    }
    label.amount {
        margin: 7px;
    }
    label.amount span {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        padding: 9px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        background-image: linear-gradient( to right, #f5ce62, #e43603, #fa7199, #e85a19);
        box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
        &:hover {
            background-position: 100% 0;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
    }
    input[type=radio][name=hand]:checked+.rock-img {
        background-image: url('./assets/imgs/rock.gif');
    }
    input[type=radio][name=hand]:checked+.paper-img {
        background-image: url('./assets/imgs/paper.gif');
    }
    input[type=radio][name=hand]:checked+.scissors-img {
        background-image: url('./assets/imgs/scissors.gif');
    }
    input[type=radio][name=amount]:checked+span {
        border: 3px solid white;
    }
    @media (min-width: 992px) {
        max-width: 60%;
    }
    @media (min-width: 768px) {
        .rps-img {
            width: 240px;
            height: 240px;
            margin: 5px;
            cursor: pointer;
        }
        label.amount {
            margin: 10px;
        }
        label.amount span {
            font-size: 18px;
            padding: 20px;
        }
    }
}


/* End Game styles */

@media (min-width: 992px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 58px;
    }
}

@media (max-width: 500px) {
    .menu {
        left: 75px;
    }
}


/* Web3Modal */

.web3modal-modal-card {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    overflow: visible !important;
    width: 50% !important;
    min-width: 350px !important;
    max-width: 500px !important;
    max-height: none !important;
    flex-wrap: wrap;
}

.web3modal-provider-wrapper {
    display: flex !important;
    max-width: 50% !important;
    border: 0 !important;
}

.web3modal-provider-container {
    flex-direction: row-reverse !important;
    padding: 8px !important;
}

.web3modal-provider-icon {
    width: 36px !important;
    height: 36px !important;
}

.web3modal-provider-name {
    width: 70% !important;
    font-size: 15px !important;
    margin-top: 0 !important;
}

.web3modal-provider-description {
    display: none !important;
}


/* End web3modal */


/* Main Page */

.cards-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding-top: 1rem;
}

.game-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: calc(50% - 10px);
}

.game-card img {
    z-index: 2;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 5px;
}

.social-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: calc(30% - 10px);
}

.social-card img {
    z-index: 2;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 5px;
}

.card-bg {
    opacity: 0;
    transform: scale(1.6, 1.2);
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.game-card img:hover,
.social-card img:hover {
    transform: matrix(1, -0.05, 0.05, 1, 0, 0);
}

.game-card:hover .card-bg {
    opacity: 1;
    transform: scale(1.5);
}

.card-bg.rps-bg {
    background-size: contain;
    background-position: center center;
}

.rps-bg {
    background: url('./assets/imgs/slots_hover.png') no-repeat;
    margin-top: 5%;
    top: 1%;
}

.dd-menu {
    min-width: 5rem !important;
}

.tbl-ranking {
    border-radius: 5px;
    max-width: 600px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table-list-container {
    width: 50%;
    margin: 0 auto;
    margin-top: .75rem;
}

@media (min-width: 1400px) {
    .cards-container {
        width: 50%;
    }
}

@media (max-width: 1399px) {
    .tbl-ranking {
        width: 75%;
    }
    .table-list-container {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 58px;
    }
}

@media (max-width: 500px) {
    .menu {
        left: 75px;
    }
}

@media (max-width: 767px) {
    .cards-container {
        width: 70%;
    }
    .game-card {
        max-width: 50%;
    }
    .social-card {
        max-width: calc(50% - 10px);
    }
    .last {
        margin-top: 0.75rem;
    }
    .tbl-ranking {
        width: 90%;
    }
    .wrapper {
        min-height: calc(100vh - 56px);
    }
    .table-list-container {
        width: 100%;
    }
}


/* ABOUT */

.heading-black {
    font-weight: 800;
}


/* END ABOUT */


/* ROADMAP */

.indexedStep {
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 120%;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.indexedStep i {
    position: absolute;
}

.indexedStep.accomplished {
    transition: .8s;
}

.indexedStep.current {
    font-weight: 600;
}

.roadmap {
    max-width: 700px;
    margin: 50px auto;
}

.roadmap-label {
    position: relative;
    text-align: center;
    top: 30px;
}

//   #78350f